<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gbx.finderhelp</string>
	<key>connections</key>
	<dict>
		<key>0341FF42-E6CD-49BD-81CA-B2A263150A99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>645495DB-ACBF-48E9-B3A8-B4867CD4E117</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B302F970-9251-43DA-8E44-44DAAA4C60A8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B466C38B-9659-406F-A5E6-5AC4BD045FE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0341FF42-E6CD-49BD-81CA-B2A263150A99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4AEA1BA-BB95-4648-B456-280EFED83186</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D937EFA8-BAD0-4DFC-A763-DE205D208312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>485695BB-02BB-4ACA-AFD1-9DAAA8F603B9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4FAF0F79-BB3F-4AE4-AEEC-4A236EB44EC7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53E67ED5-7B0F-4706-8FDE-2A3EC1ADB131</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32A84D94-1DF2-4D4F-853B-3E0D6F00AD3B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF76B5B8-C51B-4A62-89C0-1B80F44AFD88</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>gbx</string>
	<key>description</key>
	<string>goto recent folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>finder help</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder"
	if front Finder window exists then
	    set the target of the front Finder window to (POSIX file "{query}")
	else
		open (POSIX file "{query}")
	end if
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>645495DB-ACBF-48E9-B3A8-B4867CD4E117</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>his</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait...</string>
				<key>script</key>
				<string>run script "gethistory.scpt" with parameters {"{query}"}</string>
				<key>title</key>
				<string>get finder recent folders</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0341FF42-E6CD-49BD-81CA-B2A263150A99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B466C38B-9659-406F-A5E6-5AC4BD045FE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B302F970-9251-43DA-8E44-44DAAA4C60A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "showfolder.scpt" with parameters {1, "{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D937EFA8-BAD0-4DFC-A763-DE205D208312</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fav</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>run script "getpaths.scpt" with parameters {"{query}"}</string>
				<key>title</key>
				<string>Common paths collector</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4AEA1BA-BB95-4648-B456-280EFED83186</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "showfolder.scpt" with parameters {2, "{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>485695BB-02BB-4ACA-AFD1-9DAAA8F603B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "showfolder.scpt" with parameters {3, "{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FAF0F79-BB3F-4AE4-AEEC-4A236EB44EC7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "showfolder.scpt" with parameters {4, "{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53E67ED5-7B0F-4706-8FDE-2A3EC1ADB131</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "showfolder.scpt" with parameters {5, "{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32A84D94-1DF2-4D4F-853B-3E0D6F00AD3B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "showfolder.scpt" with parameters {6, "{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF76B5B8-C51B-4A62-89C0-1B80F44AFD88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0341FF42-E6CD-49BD-81CA-B2A263150A99</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>32A84D94-1DF2-4D4F-853B-3E0D6F00AD3B</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>485695BB-02BB-4ACA-AFD1-9DAAA8F603B9</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>4FAF0F79-BB3F-4AE4-AEEC-4A236EB44EC7</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>53E67ED5-7B0F-4706-8FDE-2A3EC1ADB131</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>645495DB-ACBF-48E9-B3A8-B4867CD4E117</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B302F970-9251-43DA-8E44-44DAAA4C60A8</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B466C38B-9659-406F-A5E6-5AC4BD045FE3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CF76B5B8-C51B-4A62-89C0-1B80F44AFD88</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>D4AEA1BA-BB95-4648-B456-280EFED83186</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>D937EFA8-BAD0-4DFC-A763-DE205D208312</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
