Quick Look||/System/Library/QuickLook||/Library/QuickLook||~/Library/QuickLook
Node||installed path||/usr/local/Cellar/node||npm global||/usr/local/lib/node_modules
HomeBrew||installed path||/usr/local/Library/Homebrew||cask installed path||/opt/homebrew-cask||download cache||/Library/Caches/Homebrew||logs||~/Library/Logs/Homebrew/
System||library||/System/Library||frameworks||/Library/Frameworks/||Preference||/Library/PreferencePanes||Applications||/System/Library/CoreServices||icon resources||/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/
Chrome||cache||~/Library/Caches/Google/Chrome||Extensions||~/Library/Application Support/Google/Chrome/Default/Extensions||configration||~/Library/Application Support/Google/Chrome/Local State
xCode||DocSets||~/Library/Developer/Shared/Documentation/DocSets||simulator||~/Library/Application Support/iPhone Simulator
AutoLoad||/System/Library/LaunchDaemons||/Library/LaunchAgents||~/Library/LaunchAgents
Logs||/Library/Logs||~/Library/Logs